<body>
    <div class="ligne-hr"></div>
    <div class="grid-title">
        <a router-link="#" class="nav-link">COMPTE</a> 
        <a router-link="#" class="nav-link">INSTALLATION</a>
        <a router-link="#" class="nav-link">EDITORIAL</a>
    </div>
    <div class="ligne-hr"></div>
    <div class="grid-icon">
        <a link="#"> <img src="../../assets/instagram.png" alt="instagram" class="insta"></a>
        <a link="#"> <img src="../../assets/twitter.jpg" alt="instagram" class="twitter"></a>
    </div>
    <p class="copyright">Copyright &copy; 2024 ZA COLLECTION Tous droits réservés</p>
    <a href="#" class="link"><p >Termes,politiques et conditions</p></a>
    <p class="adresse">Singularité 9 chemin de la ferme, Vauls-en-Velin 69120</p>
    <p class="adresse">Auvergne Rhone-Alpes, France</p>
</body>
