<!-- <app-confirmation-de-commande></app-confirmation-de-commande> -->
<!-- <app-reinitialisation-du-mot-de-passe></app-reinitialisation-du-mot-de-passe> -->
<!-- <app-confirmation-dexpedition></app-confirmation-dexpedition> -->
<!-- <app-facture-commande></app-facture-commande> -->
<!-- <app-retour-commande></app-retour-commande> -->
<!-- <app-carte-visite></app-carte-visite> -->
<!-- <app-carte-visite2></app-carte-visite2> -->
<!-- <app-carte-visite-noir></app-carte-visite-noir> -->
<app-carte-visite-noir2></app-carte-visite-noir2>
