<body>
    <div class="first-flex">
        <h1>ZA COLLECTION</h1>
        <div class="num-facture">
            <p>Facture Commande : </p>
            <p>001</p>
        </div>
    </div>
    <div class="first-grid">
        <div>
            <p>Ismail Rahmani</p>
            <p class="adress">9 chemin de la ferme, Vaulx-en-Velin, 69120</p>
            <p class="adress">Rhône-Alpes, France</p>
            <p class="adress">06 62 53 79 76</p>
        </div>
        <div class="info-comm">
            <p>Date de commande</p>
            <input type="text" placeholder="December 16, 2019 10:03">
            <p>Méthode de paiement</p>
            <input type="text" placeholder="MASTER CARD 5321********8245">
        </div>
        <div class="info-comm">
            <p>Methode de livraison</p>
            <input type="text" placeholder="Standard à domicile">
            <p>Numéro d'expédition</p>
            <input type="text" placeholder="UPS 7853194986">
        </div>
    </div>
    <div class="invoice-container">
    <table class="invoice-table">
        <thead>
            <tr>
                <th>PRODUIT</th>
                <th>QUANTITE</th>
                <th>PRIX</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>AFFIX</strong><br>
                    Tee-shirt jaune noir<br>
                    Taille : M<br>
                    191108M213003 </td>
                    <td style="text-align: center;"><strong>1</strong></td>
                    <td style="text-align: right;"> <strong>100€</strong></td>
            </tr>
            <tr>
                <td> <strong>AFTERHOMEWORK</strong><br>
                    Tee-shirt refflet chrome<br>
                    Taille : M<br>
                    191768916E811</td>
                    <td style="text-align: center;"><strong>1</strong></td>
                    <td style="text-align: right;"><strong>120€</strong></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: center;"></td>
                <td style="text-align: right;"></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: center;"></td>
                <td style="text-align: right;"></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: center;"></td>
                <td style="text-align: right;"></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: center;"></td>
                <td style="text-align: right;"></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: center;"></td>
                <td style="text-align: right;"></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td>
                    <div class="total-flex">
                        <p><strong>TOTAL TTC </strong></p>
                        <p><strong>220 €</strong> </p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <div class="addresse-container">
        <p class="addresse">Adresse : 9 chemin de la ferme, Vaulx-en-Velin, 69120, France</p>
        <p class="addresse"> TVA Intracomunautaire : FR 31 850074121</p>
    </div> 
</div>
</body>
