<body>
    <div class="first-flex">
        <h1>ZA COLLECTION</h1>
        <div class="num-facture">
            <p>Facture Commande : </p>
            <p> 001</p>
        </div>
    </div>

    <div>
        <p class="date"> Date de commande</p>
        <input type="text" placeholder="December 16, 2019 10:03" class="input-date">
    </div>

    <div class="invoice-container">
        <table class="invoice-table">
            <thead>
                <tr>
                    <th style="font-size: 14px;">QUANTITE</th>
                    <th style="font-size: 14px;">PRODUIT</th>
                    <th style="font-size: 14px;">REMBOURSEMENT?</th>
                    <th style="font-size: 14px;">NUMERO DE LA RAISON</th>
                    <th style="font-size: 14px;">RAISON DU RETOUR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align: center;"><strong>1</strong></td>
                    <td><strong>AFFIX</strong><br>
                        Tee-shirt jaune noir<br>
                        Taille : M<br>
                        191108M213003</td>
                        <td style="text-align: center;"><strong>OUI</strong><br>
                            <strong>NON</strong></td>
                            <td></td>
                            <td rowspan="6" style="vertical-align: top; line-height: 2; font-size: 14px;">1. Mauvaise taille<br>
                                2. Ne correspond pas l'image<br>
                                3. Mauvais produit reçu<br>
                                4. Le style ne convient pas<br>
                                5. Commandé plus d'une taille<br>
                                6. Mauvaise qualité<br>
                                7. Produit est endommagé<br>
                                8. Colis endommagé</td>
                </tr>
                <tr>
                    <td style="text-align: center;"><strong>1</strong></td>
                    <td><strong>AFTERHOMEWORK</strong><br>
                        Tee-shirt refflet chrome<br>
                        Taille : M<br>
                        191768916E811 </td>
                        <td style="text-align: center;"><strong>OUI</strong><br>
                            <strong>NON</strong></td>
                            <td></td>
                </tr>
                <tr>
                    <td style="text-align: center;"></td>
                    <td></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                </tr>
                <tr>
                    <td style="text-align: center;"></td>
                    <td></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                </tr>
                <tr>
                    <td style="text-align: center;"></td>
                    <td></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2> INSTRUCTIONS POUR LE RETOUR</h2>
    <p class="par">Vous souhaitez retourner quelque chose ? Notez que les articles ne peuvent être retourné que contre rem<br>
        boursement. Remplissez le formulaire ci-dessus et renvoyez-le avec l'article que vous désirez retourner. <br>
        Veuillez suivre les étapes suivant dans un délai de 14 jours après avoir reçu votre commande si vous desirez <br>
        effectuer un retour :</p>
        <p class="par">1. À coté de chaque produit listé ci-dessus que vous désirez retourner, sélectionnez l'un des codes explicatifs <br>
            correspondant au motif de votre retour.<br>
            2. Si vous désirez retourner un article pour changer de taille, de couleur ou l'échanger contre un autre produit, <br>
            passez une nouvelle commande et renvoyer l'article original pour que nous procédions à un remboursement.<br>
            3. Vous devez nous signalier votre retour via la rubrique historique d'achat lié à votre compte.<br>
            4. La réception de votre retour peut mettre jusqu'à 14 jours ouvrables (hors week-ends et jour fériés). Un <br>
            email de confirmation vous sera alors envoyé et votre demande sera dès lors traitée sous 48h. N'oubliez pas<br> 
            de joindre ce formulaire à votre colis.<br>
            5. Veuillez garder une preuve d'envoi tant que vous n'avez pas obtenu la confirmation de votre rembourse<br>
            ment</p>
</body>
