<app-header-title></app-header-title>
<div class="div-ré-mot-de-passe">
    <h1 id="title-ré-mot-de-passe">RÉINITIALISATION DU MOT DE PASSE</h1>
    <p class="p-ré-mot-de-passe">Utilisez le lien ci-dessous pour ouvrir une session sur <br/>
        ZA COLLECTION et changer votre mot de passe.</p>
    <button routerLink="/" class="btn-ré-mdp">REINITIALISER LE MOT DE PASSE</button>
    <p class="p2-ré-mot-de-passe">Si vous n'avez pas fait de demande de réinitialisation, vous pouvez nous <br/>
        contacter soit par courriel (zacollection.com.tn), soit par téléphone ou <br/>
        bien par messagerie texte (04-34-63-73-49). Nous sommes ouverts 24h sur <br/>
        24, 7 jours sur 7.</p>
</div>
<app-sup-footer></app-sup-footer>
